* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 360px;
  height: 600px;
}
#root {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}
a {
  color: #18c9bd;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.base-header {
  height: 56px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #999cad;
  > svg {
    cursor: pointer;
  }
}
