.base-button {
  height: 56px;
  line-height: 56px;
  width: 100%;
  border: none;
  border-radius: 16px;
  appearance: none;
  font-size: 16px;
  color: #fff;
  background-color: #18c9bd;
  cursor: pointer;
  &.disabled {
    background-color: rgba(24, 201, 189, 0.2);
    cursor: not-allowed;
  }
  &.blank {
    background-color: transparent;
    border: 1px solid #18c9bd;
    color: #18c9bd;
  }
}
.base-input {
  position: relative;
  padding: 0 15px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  height: 56px;
  width: 100%;
  border: 1px solid #999cad;
  border-radius: 16px;
  font-size: 14px;
  box-sizing: border-box;
  overflow: hidden;
  input,
  textarea {
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  textarea {
    height: 112px;
    padding: 15px;
    resize: none;
    text-indent: 0;
  }
  .tips {
    position: absolute;
    bottom: -25px;
    color: #eb5757;
    font-size: 13px;
  }
  .prefix {
    margin-right: 10px;
  }
  .suffix {
    user-select: none;
    svg {
      cursor: pointer;
    }
  }
}
.wallet-list {
  display: flex;
  overflow-y: auto;
  .left {
    width: 56px;
    display: flex;
    flex-direction: column;
    > div {
      position: relative;
      padding: 10px 10px 10px 14px;
      cursor: pointer;
      &.selected {
        > img {
          filter: grayscale(0);
          opacity: 1;
        }
        > span {
          background-color: #18c9bd;
        }
      }
      > img {
        width: 32px;
        height: 32px;
        filter: grayscale(1);
        opacity: 0.3;
      }
      > span {
        position: absolute;
        left: 0;
        top: 17px;
        width: 4px;
        height: 18px;
        background-color: #fff;
      }
    }
  }
  .right {
    padding: 0 16px;
    flex: 1;
    overflow-y: auto;
    > h4 {
      padding: 10px 0;
      font-size: 18px;
      font-weight: normal;
    }
  }
}
.account-card {
  height: 64px;
  padding: 8px 0 12px 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background: #547399;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  h5 {
    width: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #fff;
    input {
      margin-right: 5px;
      background-color: transparent;
      border: none;
      outline: none;
      color: #fff;
      width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 14px;
      line-height: 24px;
    }
    svg {
      cursor: pointer;
    }
  }
  .show-detail {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    visibility: hidden;
  }
  .copy-address {
    width: 120px;
    color: rgb(255, 255, 255);
    opacity: 0.6;
  }
}
.copy-address {
  > span:first-child {
    margin-right: 5px;
  }
  svg {
    vertical-align: bottom;
    cursor: pointer;
  }
}
.drawer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000099;
  transition: all 0.3s linear;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  > .content {
    position: absolute;
    transition: all 0.3s linear 0.1s;
  }
}
.base-header {
  height: 56px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #999cad;
  > svg {
    margin-right: 5px;
    cursor: pointer;
  }
}
.layout {
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  main {
    flex: 1;
    > h3 {
      margin-bottom: 20px;
      color: #282828;
      font-size: 24px;
      line-height: 32px;
    }
  }
  footer {
    text-align: center;
  }
}
