.create-wallet {
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.create-wallet header {
  margin-top: 16px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #999cad;
}

.create-wallet header img {
  margin-right: 5px;
  cursor: pointer;
}

.create-wallet main {
  flex: 1;
}

.create-wallet main h3 {
  margin-bottom: 16px;
  font-size: 24px;
  color: #282828;
}
