.show-mnemonic {
  .warning {
    position: relative;
    height: 80px;
    padding: 16px 23px 16px 32px;
    margin-bottom: 30px;
    background: rgba(250, 173, 20, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    > svg {
      position: absolute;
      top: 20px;
      left: 10px;
    }
    h4 {
      font-size: 16px;
      font-weight: normal;
      line-height: 24px;
      color: #282828;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      color: #999cad;
    }
  }
  p {
    margin-bottom: 10px;
    color: #282828;
    font-size: 14px;
    svg {
      vertical-align: bottom;
      cursor: pointer;
    }
  }
  .base-input {
    margin-bottom: 20px;
  }
}
