.start-up {
  text-align: center;
}

.start-up img {
  margin: 47px 0 30px;
}

.start-up h3 {
  color: #282828;
  font-size: 24px;
  font-weight: 700;
}

.start-up h3 span {
  color: #18c9bd;
}

.start-up a {
  margin-top: 32px;
  font-size: 16px;
}
